In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from clickhouse_driver import Client
% matplotlib inline

UsageError: Line magic function `%` not found.

In [33]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [34]:
def callAnalyticsDB(sql):
   config1 = {
     'user': 'trell-db-admin',
     'password': '*x&e^-%l$l#e@r!t7102-o=s+s_e)r(p',
     'host': '104.198.87.87',
       'port':'3306',
     'database': 'analytics'
   }

   cnx_analytics = mysql.connector.connect(**config1)
   cursor_analytics = cnx_analytics.cursor()
   cursor_analytics.execute(sql)
   table_rows = cursor_analytics.fetchall()
   df = pd.DataFrame(table_rows)
   cnx_analytics.close()
   cursor_analytics.close()
   return df

In [35]:
sql1="""SELECT userId,name
FROM trellDb.trailList """

In [36]:
sql2="""select bio FROM trellDb.users"""

In [37]:
sql3="""SELECT  userId,userName 
from trellDb.users"""

In [38]:

data1 = callAnalyticsDB(sql2)

NameError: name 'mysql' is not defined